APP_USER=admin
APP_PASSWORD=admin123
APP_ADDR=:10000
# PORT=8080
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=controle_almoxarifado
MONGODB_COLLECTION=records
