APP_USER=admin
APP_PASSWORD=admin123
APP_TOKEN_SECRET=troque-por-um-segredo-longo
APP_ADDR=:10000
# PORT=8080
AWS_REGION=us-east-1
DYNAMODB_TABLE=controle-almoxarifado-records
# DYNAMODB_ENDPOINT=http://localhost:8000
CORS_ORIGIN=*
